/* Variables */
:root {
  --primary-color: #02295a;
  --accent-color: #473dff;
  --text-color: #9699ab;
  --border: 1px solid #d6d9e6;
  --title-font-size-mobile: 22px;
  --text-font-size-mobile: 15px;
  --margin-mobile: 12px;
  --margin-tablet: 15px;
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Global */
body {
  background-color: #eef5ff;
  font-family: "Ubuntu", sans-serif;
}
